In [1]:
import pandas as pd
full_data = pd.read_csv('synthetic_coffee_health_10000.csv')
full_data

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,NaN,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,NaN,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,NaN,Student,1,1
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,NaN,Student,0,0
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,NaN,Student,1,0

In [2]:
data = full_data.drop(['ID', 'Caffeine_mg', 'Sleep_Quality', 'Health_Issues', 'Heart_Rate'], axis=1)
data

,Age,Gender,Country,Coffee_Intake,Sleep_Hours,BMI,Stress_Level,Physical_Activity_Hours,Occupation,Smoking,Alcohol_Consumption
0,40,Male,Germany,3.5,7.5,24.9,Low,14.5,Other,0,0
1,33,Male,Germany,1.0,6.2,20.0,Low,11.0,Service,0,0
2,42,Male,Brazil,5.3,5.9,22.7,Medium,11.2,Office,0,0
3,53,Male,Germany,2.6,7.3,24.7,Low,6.6,Other,0,0
4,32,Female,Spain,3.1,5.3,24.1,Medium,8.5,Student,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,50,Female,Japan,2.1,6.0,30.5,Medium,10.1,Healthcare,0,1
9996,18,Female,UK,3.4,5.8,19.1,Medium,11.6,Service,0,0
9997,26,Male,China,1.6,7.1,25.1,Low,13.7,Student,1,1
9998,40,Female,Finland,3.4,7.0,19.3,Low,0.1,Student,0,0
9999,42,Female,Brazil,2.9,6.4,28.1,Low,9.8,Student,1,0

In [3]:
data = data[data['Gender'] != 'Other']
data = pd.get_dummies(data, columns=['Gender'], drop_first=True, dtype=int)
data

,Age,Country,Coffee_Intake,Sleep_Hours,BMI,Stress_Level,Physical_Activity_Hours,Occupation,Smoking,Alcohol_Consumption,Gender_Male
0,40,Germany,3.5,7.5,24.9,Low,14.5,Other,0,0,1
1,33,Germany,1.0,6.2,20.0,Low,11.0,Service,0,0,1
2,42,Brazil,5.3,5.9,22.7,Medium,11.2,Office,0,0,1
3,53,Germany,2.6,7.3,24.7,Low,6.6,Other,0,0,1
4,32,Spain,3.1,5.3,24.1,Medium,8.5,Student,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,50,Japan,2.1,6.0,30.5,Medium,10.1,Healthcare,0,1,0
9996,18,UK,3.4,5.8,19.1,Medium,11.6,Service,0,0,0
9997,26,China,1.6,7.1,25.1,Low,13.7,Student,1,1,1
9998,40,Finland,3.4,7.0,19.3,Low,0.1,Student,0,0,0
9999,42,Brazil,2.9,6.4,28.1,Low,9.8,Student,1,0,0

In [4]:
from sklearn.preprocessing import LabelEncoder

encoders = {}
for col in ['Country', 'Occupation']: 
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    encoders[col] = le
data

,Age,Country,Coffee_Intake,Sleep_Hours,BMI,Stress_Level,Physical_Activity_Hours,Occupation,Smoking,Alcohol_Consumption,Gender_Male
0,40,7,3.5,7.5,24.9,Low,14.5,2,0,0,1
1,33,7,1.0,6.2,20.0,Low,11.0,3,0,0,1
2,42,2,5.3,5.9,22.7,Medium,11.2,1,0,0,1
3,53,7,2.6,7.3,24.7,Low,6.6,2,0,0,1
4,32,15,3.1,5.3,24.1,Medium,8.5,4,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,50,10,2.1,6.0,30.5,Medium,10.1,0,0,1,0
9996,18,18,3.4,5.8,19.1,Medium,11.6,3,0,0,0
9997,26,4,1.6,7.1,25.1,Low,13.7,4,1,1,1
9998,40,5,3.4,7.0,19.3,Low,0.1,4,0,0,0
9999,42,2,2.9,6.4,28.1,Low,9.8,4,1,0,0

In [5]:
cols = list(data.columns)
i, j = cols.index("Stress_Level"), cols.index("Gender_Male")
cols[i], cols[j] = cols[j], cols[i]
data = data[cols]
data

,Age,Country,Coffee_Intake,Sleep_Hours,BMI,Gender_Male,Physical_Activity_Hours,Occupation,Smoking,Alcohol_Consumption,Stress_Level
0,40,7,3.5,7.5,24.9,1,14.5,2,0,0,Low
1,33,7,1.0,6.2,20.0,1,11.0,3,0,0,Low
2,42,2,5.3,5.9,22.7,1,11.2,1,0,0,Medium
3,53,7,2.6,7.3,24.7,1,6.6,2,0,0,Low
4,32,15,3.1,5.3,24.1,0,8.5,4,0,1,Medium
...,...,...,...,...,...,...,...,...,...,...,...
9995,50,10,2.1,6.0,30.5,0,10.1,0,0,1,Medium
9996,18,18,3.4,5.8,19.1,0,11.6,3,0,0,Medium
9997,26,4,1.6,7.1,25.1,1,13.7,4,1,1,Low
9998,40,5,3.4,7.0,19.3,0,0.1,4,0,0,Low
9999,42,2,2.9,6.4,28.1,0,9.8,4,1,0,Low

In [6]:
data["Stress_Level"] = pd.Categorical(
    data["Stress_Level"],
    categories=["Low", "Medium", "High"],
    ordered=True
).codes
data

,Age,Country,Coffee_Intake,Sleep_Hours,BMI,Gender_Male,Physical_Activity_Hours,Occupation,Smoking,Alcohol_Consumption,Stress_Level
0,40,7,3.5,7.5,24.9,1,14.5,2,0,0,0
1,33,7,1.0,6.2,20.0,1,11.0,3,0,0,0
2,42,2,5.3,5.9,22.7,1,11.2,1,0,0,1
3,53,7,2.6,7.3,24.7,1,6.6,2,0,0,0
4,32,15,3.1,5.3,24.1,0,8.5,4,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,50,10,2.1,6.0,30.5,0,10.1,0,0,1,1
9996,18,18,3.4,5.8,19.1,0,11.6,3,0,0,1
9997,26,4,1.6,7.1,25.1,1,13.7,4,1,1,0
9998,40,5,3.4,7.0,19.3,0,0.1,4,0,0,0
9999,42,2,2.9,6.4,28.1,0,9.8,4,1,0,0

In [7]:
from torch.utils.data import Dataset, DataLoader
from sklearn.model_selection import train_test_split

class CoffeeDataset(Dataset):
    def __init__(self, data):
        self.X = data.drop('Stress_Level', axis=1).values
        self.y = data['Stress_Level'].values

    def __len__(self):
        return self.y.shape[0]

    def __getitem__(self, idx):
        return torch.tensor(self.X[idx], dtype=torch.float), torch.tensor(self.y[idx], dtype=torch.long)

train_data, test_val_data = train_test_split(data, test_size=0.4, stratify=data["Stress_Level"])
val_data, test_data = train_test_split(test_val_data, test_size=0.5, stratify=test_val_data["Stress_Level"])

train_dataset = CoffeeDataset(train_data)
val_dataset = CoffeeDataset(val_data)
test_dataset = CoffeeDataset(test_data)

batch_size = 512
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
val_loader = DataLoader(val_dataset, batch_size=batch_size, shuffle=False)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

In [8]:
import torch.nn as nn

class CoffeeModel(nn.Module):
    def __init__(self, n_countries, n_occupations):
        super().__init__()
        embed_dim = 10
        self.country_embed = nn.Embedding(n_countries, embed_dim)
        self.occupation_embed = nn.Embedding(n_occupations, embed_dim)

        self.fc = nn.Sequential(
            nn.Linear(embed_dim * 2 + 8, 20),
            nn.CELU(), # here is better than relu
            nn.Linear(20, 3)
        )

    def forward(self, x):
        country = self.country_embed(x[:, 1].long())
        occupation = self.occupation_embed(x[:, 8].long())

        x = torch.cat([country, occupation, x[:, 0].unsqueeze(1), x[:, 2:7], x[:, 8:]], dim=1)
        return self.fc(x)

class CoffeeModel(nn.Module):
    def __init__(self, n_countries, n_occupations):
        super().__init__()
        embed_dim = 10
        self.country_embed = nn.Embedding(n_countries, embed_dim)
        self.occupation_embed = nn.Embedding(n_occupations, embed_dim)

        self.fc = nn.Sequential(
            nn.BatchNorm1d(embed_dim * 2 + 8),
            nn.Linear(embed_dim * 2 + 8, 16),
            nn.BatchNorm1d(16),
            nn.ReLU(),
            nn.Dropout(0.2),
            nn.Linear(16, 8),
            nn.BatchNorm1d(8),
            nn.ReLU(),
            nn.Dropout(0.2),
            nn.Linear(8, 3)
        )

    def forward(self, x):
        country = self.country_embed(x[:, 1].long())
        occupation = self.occupation_embed(x[:, 7].long())

        x = torch.cat([country, occupation, x[:, 0].unsqueeze(1), x[:, 2:7], x[:, 8:]], dim=1)
        return self.fc(x)

In [9]:
import torch
import torch.optim as optim
import copy
import numpy as np
from sklearn.metrics import f1_score

model = CoffeeModel(data['Country'].max() + 1, data['Occupation'].max() + 1)

criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.005)

min_loss = 100
patience = 5

for epoch in range(200):
    model.train()
    train_loss = 0
    for Xb, yb in train_loader:
        optimizer.zero_grad()
        preds = model(Xb)
        loss = criterion(preds, yb)
        loss.backward()
        optimizer.step()
        train_loss += loss.item() * Xb.size(0)

    train_loss /= len(train_loader.dataset)

    model.eval()
    val_loss = 0
    all_preds = []
    all_labels = []
    with torch.no_grad():
        for Xb, yb in val_loader:
            preds = model(Xb)
            loss = criterion(preds, yb)
            val_loss += loss.item() * Xb.size(0)
            
            all_preds.extend(preds.argmax(1).cpu().numpy())
            all_labels.extend(yb.cpu().numpy())

    
    val_loss /= len(val_loader.dataset)
    f1 = f1_score(all_labels, all_preds, average='macro')

    if val_loss <= min_loss:
        min_loss = val_loss
        patience = 5
        best_model_state = copy.deepcopy(model.state_dict())
    else:
        patience -= 1

    if patience == 0:
        break
        
    print(f"Epoch {epoch+1}: train_loss={train_loss:.4f}, val_loss={val_loss:.4f}, val_f1={f1:.4f}")

model.load_state_dict(best_model_state)

Epoch 1: train_loss=0.8996, val_loss=0.8287, val_f1=0.2741
Epoch 2: train_loss=0.7196, val_loss=0.6101, val_f1=0.2741
Epoch 3: train_loss=0.5953, val_loss=0.5229, val_f1=0.2741
Epoch 4: train_loss=0.5209, val_loss=0.4667, val_f1=0.2741
Epoch 5: train_loss=0.4805, val_loss=0.4329, val_f1=0.2741
Epoch 6: train_loss=0.4490, val_loss=0.3972, val_f1=0.2741
Epoch 7: train_loss=0.4316, val_loss=0.3816, val_f1=0.5549
Epoch 8: train_loss=0.4109, val_loss=0.3662, val_f1=0.5696
Epoch 9: train_loss=0.3875, val_loss=0.3543, val_f1=0.5883
Epoch 10: train_loss=0.3691, val_loss=0.3398, val_f1=0.5837
Epoch 11: train_loss=0.3577, val_loss=0.3274, val_f1=0.5893
Epoch 12: train_loss=0.3418, val_loss=0.3150, val_f1=0.5903
Epoch 13: train_loss=0.3296, val_loss=0.2970, val_f1=0.5859
Epoch 14: train_loss=0.3079, val_loss=0.2745, val_f1=0.5877
Epoch 15: train_loss=0.2903, val_loss=0.2499, val_f1=0.5923
Epoch 16: train_loss=0.2712, val_loss=0.2334, val_f1=0.5936
Epoch 17: train_loss=0.2650, val_loss=0.2216, val_f1=0.5912
Epoch 18: train_loss=0.2525, val_loss=0.2112, val_f1=0.5894
Epoch 19: train_loss=0.2499, val_loss=0.2011, val_f1=0.5898
Epoch 20: train_loss=0.2424, val_loss=0.1951, val_f1=0.5923
Epoch 21: train_loss=0.2307, val_loss=0.1888, val_f1=0.5891
Epoch 22: train_loss=0.2289, val_loss=0.1845, val_f1=0.5915
Epoch 23: train_loss=0.2291, val_loss=0.1848, val_f1=0.5901
Epoch 24: train_loss=0.2349, val_loss=0.1745, val_f1=0.5893
Epoch 25: train_loss=0.2232, val_loss=0.1758, val_f1=0.5896
Epoch 26: train_loss=0.2164, val_loss=0.1737, val_f1=0.5893
Epoch 27: train_loss=0.2141, val_loss=0.1618, val_f1=0.5915
Epoch 28: train_loss=0.2160, val_loss=0.1595, val_f1=0.5891
Epoch 29: train_loss=0.2027, val_loss=0.1494, val_f1=0.9553
Epoch 30: train_loss=0.1997, val_loss=0.1516, val_f1=0.9657
Epoch 31: train_loss=0.1949, val_loss=0.1420, val_f1=0.9625
Epoch 32: train_loss=0.1794, val_loss=0.1418, val_f1=0.9618
Epoch 33: train_loss=0.2055, val_loss=0.1420, val_f1=0.9645
Epoch 34: train_loss=0.1933, val_loss=0.1361, val_f1=0.9545
Epoch 35: train_loss=0.2188, val_loss=0.1409, val_f1=0.9700
Epoch 36: train_loss=0.1883, val_loss=0.1379, val_f1=0.9653
Epoch 37: train_loss=0.1768, val_loss=0.1282, val_f1=0.9679
Epoch 38: train_loss=0.1883, val_loss=0.1263, val_f1=0.9691
Epoch 39: train_loss=0.1882, val_loss=0.1254, val_f1=0.9661
Epoch 40: train_loss=0.1789, val_loss=0.1285, val_f1=0.9676
Epoch 41: train_loss=0.1894, val_loss=0.1293, val_f1=0.9649
Epoch 42: train_loss=0.1795, val_loss=0.1193, val_f1=0.9700
Epoch 43: train_loss=0.1683, val_loss=0.1181, val_f1=0.9693
Epoch 44: train_loss=0.1881, val_loss=0.1174, val_f1=0.9671
Epoch 45: train_loss=0.2029, val_loss=0.1243, val_f1=0.9697
Epoch 46: train_loss=0.1643, val_loss=0.1216, val_f1=0.9657
Epoch 47: train_loss=0.1720, val_loss=0.1140, val_f1=0.9697
Epoch 48: train_loss=0.1773, val_loss=0.1176, val_f1=0.9658
Epoch 49: train_loss=0.1716, val_loss=0.1130, val_f1=0.9698
Epoch 50: train_loss=0.1588, val_loss=0.1071, val_f1=0.9698
Epoch 51: train_loss=0.1806, val_loss=0.1210, val_f1=0.9538
Epoch 52: train_loss=0.1656, val_loss=0.1081, val_f1=0.9668
Epoch 53: train_loss=0.1621, val_loss=0.1098, val_f1=0.9707
Epoch 54: train_loss=0.1605, val_loss=0.1074, val_f1=0.9679

In [10]:
import torch
from sklearn.metrics import confusion_matrix, classification_report
import seaborn as sns
import matplotlib.pyplot as plt

model.eval()  # set model to evaluation mode

all_preds = []
all_labels = []

with torch.no_grad():
    for Xb, yb in test_loader:
        preds = model(Xb)

        predicted_classes = torch.argmax(preds, dim=1)
        all_preds.extend(predicted_classes.cpu().numpy())
        all_labels.extend(yb.cpu().numpy())

confusion_matrix(all_labels, all_preds)

array([[1347,   19,    0],
       [  18,  381,    2],
       [   0,   11,  177]])

In [11]:
print(classification_report(all_labels, all_preds))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      1366
           1       0.93      0.95      0.94       401
           2       0.99      0.94      0.96       188

    accuracy                           0.97      1955
   macro avg       0.97      0.96      0.96      1955
weighted avg       0.97      0.97      0.97      1955

In [12]:
print(full_data['Country'].unique())
print(full_data['Occupation'].unique())

['Germany' 'Brazil' 'Spain' 'Mexico' 'France' 'Canada' 'UK' 'Switzerland'
 'Netherlands' 'Italy' 'China' 'Japan' 'Belgium' 'Finland' 'Australia'
 'USA' 'Sweden' 'India' 'Norway' 'South Korea']
['Other' 'Service' 'Office' 'Student' 'Healthcare']

In [14]:
import torch.nn.functional as F
test_input = [[45,                                               # Age
               encoders['Country'].transform(['USA'])[0],        # Country
               2,                                                # Coffee_Intake
               6,                                                # Sleep_Hours
               20,                                               # BMI
               0,                                                # Gender_Male
               2,                                                # Physical_Activity_Hours
               encoders['Occupation'].transform(['Student'])[0], # Occupation
               1,                                                # Smoking
               1                                                 # Alcohol_Consumption 
              ]]
logits = model(torch.tensor(test_input))
preds = F.softmax(logits, dim=1)
for i, p in enumerate(preds[0]):
    print(f"Probability of stress level {i}: {p.item():.4f}")

Probability of stress level 0: 0.9525
Probability of stress level 1: 0.0452
Probability of stress level 2: 0.0023